* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* bg */
body {
    background-color: #DCDBD4;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#green-banner {
    background-color: #029688;
    height: 20vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
}

/* container app */
.container {
    background-color: #fff;
    width: 84%;
    height: 80%;
    margin: 0 auto;
    display: flex;
}

/* parte sinistra app */
.left-c {
    width: 40%;
    height: 100%;
    border-right: 1px solid #DADADA;
    overflow: hidden;
}

    /* parte sinistra zona immutabile */
.c-zone {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}

.flex-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.not-option {
    background-color: #8EDAFC;
}

.cerchio {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* parte destra app */
.right-c {
    width: 60%;
    height: 100%;
}

/* contatti */

.input-container {
    width: 80%;
    margin: 0 auto;
    height: 30px;
}
.search-input {
    width: 100%;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid gray;
    cursor: pointer;
    padding: 0.4em;
}
.search-input:active {
    border-bottom: 1px solid black;
}

.chat-c {
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
    padding: 0 0 2.5em 0 ;
}

.last-message {
    color: gray;
}

.container-contact {
    display: flex;
    align-items: center;
    padding: 0.5em;
    gap: 20px;
    margin: 0.8em 0.5em;
}

.container-contact:hover {
    background-color: rgba(255, 255, 255, 0.5)BEB;
}

.active-chat {
    background-color: #E8EBEB;
}

/* messaggi */
.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.message.sent {
    text-align: right;
    background-color: green;
    color: white;
    padding: 1em;
    margin: 0.5em;
    border-radius: 12px;
    max-width: 50%;
    align-self: end;
}
  
.message.received {
    text-align: left;
    background-color: rgb(90, 90, 90);
    color: white;
    padding: 1em;
    margin: 0.5em;
    border-radius: 12px;
    max-width: 50%;
    align-self: flex-start;
}

/* menù dei messaggi */
.context-menu {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 150px;
    z-index: 100;
    color: black;
}

.context-menu.active {
    display: block;
}

.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu li {
    padding: 10px;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: #ccc;
}