* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* bg */
body {
    background-color: #DCDBD4;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#green-banner {
    background-color: #029688;
    height: 20vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
}

/* container app */
.container {
    background-color: #fff;
    width: 84%;
    height: 80%;
    margin: 0 auto;
    display: flex;
}

/* parte sinistra app */
.left-c {
    width: 40%;
    height: 100%;
    border-right: 1px solid #DADADA;
}

    /* parte sinistra zona immutabile */
.c-zone {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}

.flex-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.not-option {
    background-color: #8EDAFC;
}

.cerchio {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* parte destra app */
.right-c {
    width: 60%;
    height: 100%;
}